[Unit]
Description=Server Health API
After=network.target

[Service]
User=health
ExecStart=/usr/local/bin/server-health-api -config /usr/local/etc/server-health-api.yaml
Restart=on-failure

[Install]
WantedBy=multi-user.target
